using System;
using System.Collections.Generic;
using System.Text;
using System.Threading.Tasks;
using GuidLibrary;
using #namespaceName#.Final.Class;
//#parentLibrary#

namespace #namespaceName#.PreProcessed.Class
{
	#classGUID#
	public class #className# #parentClass#
	{
#properties#
    		public #type# #prop# { get; set; }
		
		public #className#()
		{
			GUID = "#guid#";
		}
	}
}
