using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Data.Entity;
using #namespaceName#.Final.Class;

namespace #namespaceName#.Context.Class
{
    public class AllContext : DbContext
    {
        public AllContext(string baseName) : base(baseName)
        {
            
        }

#classes#
        public DbSet<#classesName#> #tableName# { get; set; }
    }
}