using System;
using System.Collections.Generic;
using System.Text;
using #namespaceName#.Algebra.Class;

namespace #namespaceName#.Final.Class
{
	public class #className# : #parentClassName#
	{

	}
}
