using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using #namespaceName#.Algebra.Class;
using #namespaceName#.Final.Class;
using #namespaceName#.Context.Class;


namespace #namespaceName#.EFMethods.Class
{
    public class #mainClassName#EntityMethods : #mainClassName#Algebra
    {
		public string baseName { get; set; }

        public #mainClassName#EntityMethods() { }

        public #mainClassName#EntityMethods(string newBaseName)
        {
            baseName = newBaseName;
        }
	
#findFirstBy#
        public #className# findFirstBy#PropName#(#type# #propName#)
        {
            #className# #valueName# = null;

            using (var ctx = new AllContext(baseName))
            {
                var query = ctx.#contextPropName#
                                .Where(ss => ss.#propName# == #propName#)
                                .FirstOrDefault<#className#>();

                #valueName# = query;
            }
            return #valueName#;
        }

#findListBy#
        public List<#className#> findListBy#PropName#(#type# #propName#)
        {
            List<#className#> #valueName# = new List<#className#>();

            using (var ctx = new AllContext(baseName))
            {
                var query = ctx.#contextPropName#
                                .Where(ss => ss.#propName# == #propName#).ToList();

                #valueName# = query;
            }
            return #valueName#;
        }

#exists#
	public Boolean existsBy#PropName#(#type# #propName#)
	{
		#className# #valueName# = null;

            using (var ctx = new AllContext(baseName))
            {
                var query = ctx.#contextPropName#
                                .Where(ss => ss.#propName# == #propName#)
                                .FirstOrDefault<#className#>();

                #valueName# = query;
            }
                if(#valueName# != null)
		{
			return true;
		}
		else
		{
			return false;
		}
	}
	
#update#
		public void update(#className# updated#className#)
        {
            using(var ctx = new AllContext(baseName))
            {
                var _#className# = ctx.#contextPropName#
				.Where(ss => ss.id == updated#className#.id).FirstOrDefault();
									  
                _#className#.#prop# = updated#className#.#prop#;
                ctx.SaveChanges();
            }
        }

#deleteById#
        public void deleteById(#type# #propName#)
        {
            using (var ctx = new AllContext(baseName))
            {
                var query = ctx.#contextPropName#
                                .Remove(ctx.#contextPropName#.Single(ss => ss.#propName# == #propName#));

                ctx.SaveChanges();
            }
        }

#adds#
	public void addNew(#className# _#className#)
	{
		using (var ctx = new AllContext(baseName))
            {
                ctx.#contextPropName#.Add(_#className#);

                ctx.SaveChanges();
            }
	}
    }
}